.address {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: grey;
    margin-top: 10px;
    font-size: 24px;
}

table.barcode {
    border-spacing: 3px 0px;
    padding: 6px;
}

table.barcode td {
    width: 8px;
    height: 20px;
    padding: 0px;
    border-left: 3px solid white;
    border-right: 3px solid white;
}

tr#row1 td {
    background-color: #ccc
}

.success {
    background-color: green;
}
.problem {
    background-color: orange;
}
.failure {
    background-color: red;
}
